@media screen and (min-width: 1480px) {
    html {
      font-size: 1.25rem;
    }
  }

@media screen and (max-width: 1204px) {
    .header__mobile {
        display: block;
    }

    .header__desktop {
        display: none;
    }
}